body {
  font-family: "Roboto", sans-serif;
  background: #fafafa !important;
  overflow-x: hidden;
  position: relative;
}

html {
  height: 100%;
}

/* Margins & Paddings */

.top_15 {
  margin-top: 15px;
}

.top_30 {
  margin-top: 30px;
}

.top_45 {
  margin-top: 45px;
}

.top_60 {
  margin-top: 60px;
}

.top_90 {
  margin-top: 90px;
}

.top_120 {
  margin-top: 120px;
}

.padding_30 {
  padding-top: 30px;
}

.padding_45 {
  padding-top: 45px;
}

.padding_50 {
  padding-top: 50px;
}

.padding_60 {
  padding-top: 60px;
}

.padding_90 {
  padding-top: 90px;
}

.bottom_15 {
  margin-bottom: 15px;
}

.bottom_30 {
  margin-bottom: 30px;
}

.bottom_45 {
  margin-bottom: 45px;
}

.bottom_60 {
  margin-bottom: 60px;
}

.bottom_90 {
  margin-bottom: 90px;
}

.bottom_120 {
  margin-bottom: 120px;
}

.padbot_15 {
  padding-bottom: 15px;
}

.padbot_30 {
  padding-bottom: 30px;
}

.padbot_45 {
  padding-bottom: 45px;
}

.padbot_50 {
  padding-bottom: 50px;
}

.padbot_60 {
  padding-bottom: 60px;
}
