
.skill {
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    min-height: 186px;
}

.skill-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.skill-desc {
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.skill-icon i:before {
    font-size: 44px;
    margin-left: 0;
}